@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
.body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    border-radius: 50px;
    background-color: #3882F6;
    color: #E5E7EB;
    width: 120px;
    height: 30px;
}

/*Styling for website text and img text*/
.top-area {
    background-color: #1F2937;
}

.main-text{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-size: 18px;
    margin: 0;
    color: #E5E7EB;
    gap: 0;
}

.main-text img {
    width: 400px;
    height: auto;
}

.awesome-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px; 
    margin: 20px;
    max-width: 400px;
    flex-wrap: wrap;
}

.main-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}
/*Seperate styling for header*/
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:0 120px 0;
}

.nav p {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    padding: 16px;
    margin-left: 4%;
}

.nav a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin: 16px;
}

/*Css styling for random information section*/
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 0 30px 50px;
    gap: 40px;
    flex-wrap: wrap;
    flex: 1;
}

.middle img {
    max-width: 200px;
    height: auto;
    border-radius: 25%;
}

.information {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
    margin-top: 50px;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 200px;
    flex-wrap: wrap;
}

/*Styling for quote section*/

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 70px;
    margin: 40px 0 50px;
    font-size: 36px;
    color: #1F2937;
}

.quote > * {
    margin: 0;
    padding: 0 200px 0;
}

/*styling for Call to Action section*/

.action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.call-to-action-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 20px;
    padding: 50px;
    width: 50%;
}

.call-to-action-box > text {
    align-items: center;
    justify-content: flex-start;
}

/*Styling for Footer section*/

.footer-section {
    display: flex;
    background-color:#1F2937;
    flex: 1;
    padding: 30px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}